In [12]:
import pandas as pd 
import numpy as np
import os 
import sys 
target_job = '4076692'
num_jobs = 4

In [6]:
# First load data in 
data = {}
for fn in os.listdir(f'results_file/{target_job}/'):
    fn2 = os.listdir(f'results_file/{target_job}/{fn}/')[0] # currently these files only have one entry
    f = f'results_file/{target_job}/{fn}/{fn2}'
    data[fn] = pd.read_csv(f, index_col=False)

In [11]:
data['1'] # 1 -> num jobs

,member_generation,training,seed,time,full_acc,majority_acc,minority_acc,tn,fp,fn,tp
0,True,True,0,68.284025,0.955102,0.974522,0.920455,81,7,4,153
1,True,False,0,68.284025,0.773585,0.808824,0.710526,27,11,13,55
2,False,True,0,0.000001,0.955102,0.974522,0.920455,81,7,4,153
3,False,False,0,0.000001,0.773585,0.808824,0.710526,27,11,13,55
4,True,True,169,103.133354,0.959184,0.980892,0.920455,81,7,3,154
...,...,...,...,...,...,...,...,...,...,...,...
115,False,False,4732,0.000001,0.858491,0.882353,0.815789,31,7,8,60
116,True,True,4901,62.111234,0.983673,0.993631,0.965909,85,3,1,156
117,True,False,4901,62.111234,0.877358,0.970588,0.710526,27,11,2,66
118,False,True,4901,0.000001,0.983673,0.993631,0.965909,85,3,1,156
119,False,False,4901,0.000001,0.877358,0.970588,0.710526,27,11,2,66