In [2]:
from code.data_processing import get_data as gd
from code.data_processing import get_all_datasets
import pandas as pd 
import numpy as np

In [3]:
datasets = get_all_datasets()
print(datasets)

['cleveland', 'ionosphere', 'ecoli', 'iris', 'mammo_graphic', 'wisconsin_breast_cancer', 'australia', 'postop', 'yeast', 'spec']

# Table of class distributions for each dataset

In [6]:
# Find largest y
ymax = 0
for d in datasets:
    X, y = gd(d) # Brutal dataset. only 2 class=2 and class =3
    if ymax < len(np.unique(y)):
        ymax = len(np.unique(y))
# Initalise an empyt np array
val = np.ones((len(datasets), ymax)) * 4234

# Fill out val
for i, d in enumerate(datasets):
    X, y = gd(d) # Brutal dataset. only 2 class=2 and class =3
    dfy = pd.DataFrame(data=y).value_counts()#.iloc[0]
    for j in range(len(dfy)):
        val[j, i] = dfy.iloc[j]
dfval = pd.DataFrame(data=val, columns=[dn for dn in datasets])
print(dfval.transpose().to_latex().replace('4234.0','-'))

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &      0 &      1 &       2 &       3 &       4 &       5 &       6 &       7 &       8 &       9 \\
\midrule
cleveland               &  160.0 &  137.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
ionosphere              &  225.0 &  126.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
ecoli                   &  143.0 &   77.0 &    52.0 &    35.0 &    20.0 &     5.0 &     2.0 &     2.0 &  - &  - \\
iris                    &   50.0 &   50.0 &    50.0 &  - &  - &  - &  - &  - &  - &  - \\
mammo\_graphic           &  427.0 &  403.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
wisconsin\_breast\_cancer &  444.0 &  239.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
australia               &  383.0 &  307.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
postop                  &   64.0 &   24.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
yeast                   &  463.0 &  429.0 &   244.0 &   163.0 &    51.0 &    44.0 &    35.0 &    30.0 &    20.0 &     5.0 \\
spec                    &  157.0 &  110.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
\bottomrule
\end{tabular}

# Table of class distributions for each dataset

In [5]:
dfval.transpose()

,0,1,2,3,4,5,6,7,8,9
cleveland,160.0,137.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
ionosphere,225.0,126.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
ecoli,143.0,77.0,52.0,35.0,20.0,5.0,2.0,2.0,4234.0,4234.0
iris,50.0,50.0,50.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
mammo_graphic,427.0,403.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
wisconsin_breast_cancer,444.0,239.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
australia,383.0,307.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
postop,64.0,24.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0
yeast,463.0,429.0,244.0,163.0,51.0,44.0,35.0,30.0,20.0,5.0
spec,157.0,110.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0,4234.0