In [5]:
from code.data_processing import get_data as gd
from code.data_processing import get_all_datasets
import pandas as pd 
import numpy as np

In [6]:
datasets = get_all_datasets()
print(datasets)

['cleveland', 'ionosphere', 'ecoli', 'iris', 'mammo_graphic', 'wisconsin_breast_cancer', 'australia', 'postop', 'yeast', 'spec']

# Table of class distributions for each dataset

In [7]:
# Find largest y
ymax = 0
for d in datasets:
    X, y = gd(d) # Brutal dataset. only 2 class=2 and class =3
    if ymax < len(np.unique(y)):
        ymax = len(np.unique(y))
# Initalise an empyt np array
val = np.ones((len(datasets), ymax)) * 4234

# Fill out val
for i, d in enumerate(datasets):
    X, y = gd(d) # Brutal dataset. only 2 class=2 and class =3
    dfy = pd.DataFrame(data=y).value_counts()#.iloc[0]
    for j in range(len(dfy)):
        val[j, i] = dfy.iloc[j]
dfval = pd.DataFrame(data=val, columns=[dn for dn in datasets])
print(dfval.transpose().to_latex().replace('4234.0','-'))

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &      0 &      1 &       2 &       3 &       4 &       5 &       6 &       7 &       8 &       9 \\
\midrule
cleveland               &  160.0 &  137.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
ionosphere              &  225.0 &  126.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
ecoli                   &  143.0 &   77.0 &    52.0 &    35.0 &    20.0 &     5.0 &     2.0 &     2.0 &  - &  - \\
iris                    &   50.0 &   50.0 &    50.0 &  - &  - &  - &  - &  - &  - &  - \\
mammo\_graphic           &  427.0 &  403.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
wisconsin\_breast\_cancer &  444.0 &  239.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
australia               &  383.0 &  307.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
postop                  &   64.0 &   24.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
yeast                   &  463.0 &  429.0 &   244.0 &   163.0 &    51.0 &    44.0 &    35.0 &    30.0 &    20.0 &     5.0 \\
spec                    &  157.0 &  110.0 &  - &  - &  - &  - &  - &  - &  - &  - \\
\bottomrule
\end{tabular}

# Seabir

In [17]:
import seaborn as sns
for d in datasets:
    d = 'ionosphere'
    print(d)
    X, y = gd(d) # Brutal dataset. only 2 class=2 and class =3
    df = pd.DataFrame(data=X)
    print(df)
    #sns.pairplot(pd.DataFrame(data=X))
    break

ionosphere
      0        1        2        3        4        5        6        7   \
0    0.0  0.99539 -0.05889  0.85243  0.02306  0.83398 -0.37708  1.00000
1    0.0  1.00000 -0.18829  0.93035 -0.36156 -0.10868 -0.93597  1.00000
2    0.0  1.00000 -0.03365  1.00000  0.00485  1.00000 -0.12062  0.88965
3    0.0  1.00000 -0.45161  1.00000  1.00000  0.71216 -1.00000  0.00000
4    0.0  1.00000 -0.02401  0.94140  0.06531  0.92106 -0.23255  0.77152
..   ...      ...      ...      ...      ...      ...      ...      ...
346  0.0  0.83508  0.08298  0.73739 -0.14706  0.84349 -0.05567  0.90441
347  0.0  0.95113  0.00419  0.95183 -0.02723  0.93438 -0.01920  0.94590
348  0.0  0.94701 -0.00034  0.93207 -0.03227  0.95177 -0.03431  0.95584
349  0.0  0.90608 -0.01657  0.98122 -0.01989  0.95691 -0.03646  0.85746
350  0.0  0.84710  0.13533  0.73638 -0.06151  0.87873  0.08260  0.88928

          8        9   ...       23       24       25       26       27  \
0    0.03760  0.85243  ...  0.56811 -0.51171  0.41078 -0.46168  0.21266
1   -0.04549  0.50874  ... -0.20332 -0.26569 -0.20468 -0.18401 -0.19040
2    0.01198  0.73082  ...  0.57528 -0.40220  0.58984 -0.22145  0.43100
3    0.00000  0.00000  ...  1.00000  0.90695  0.51613  1.00000  1.00000
4   -0.16399  0.52798  ...  0.03286 -0.65158  0.13290 -0.53206  0.02431
..       ...      ...  ...      ...      ...      ...      ...      ...
346 -0.04622  0.89391  ...  0.95378 -0.04202  0.83479  0.00123  1.00000
347  0.01606  0.96510  ...  0.94520  0.01361  0.93522  0.04925  0.93159
348  0.02446  0.94124  ...  0.93988  0.03193  0.92489  0.02542  0.92120
349  0.00110  0.89724  ...  0.91050 -0.02099  0.89147 -0.07760  0.82983
350 -0.09139  0.78735  ...  0.86467 -0.15114  0.81147 -0.04822  0.78207

          28       29       30       31       32
0   -0.34090  0.42267 -0.54487  0.18641 -0.45300
1   -0.11593 -0.16626 -0.06288 -0.13738 -0.02447
2   -0.17365  0.60436 -0.24180  0.56045 -0.38238
3   -0.20099  0.25682  1.00000 -0.32382  1.00000
4   -0.62197 -0.05707 -0.59573 -0.04608 -0.65697
..       ...      ...      ...      ...      ...
346  0.12815  0.86660 -0.10714  0.90546 -0.04307
347  0.08168  0.94066 -0.00035  0.91483  0.04712
348  0.02242  0.92459  0.00442  0.92697 -0.00577
349 -0.17238  0.96022 -0.03757  0.87403 -0.16243
350 -0.00703  0.75747 -0.06678  0.85764 -0.06151

[351 rows x 33 columns]

In [21]:
gd('ionosphere')[0].shape

(351, 33)