In [1]:
z= ['|--- feature_10 <= 1.50', '||--- feature_11 <= 1.50', '|||--- feature_8 <= 0.50', '||||--- class: 0.0', '|||--- feature_8 > 0.50', '||||--- class: 1.0', '||--- feature_11 > 1.50', '|||--- feature_4 <= 234.00', '||||--- class: 1.0', '|||--- feature_4 > 234.00', '||||--- feature_8 <= 0.50', '|||||--- class: 0.0', '||||--- feature_8 > 0.50', '|||||--- class: 1.0', '|--- feature_10 > 1.50', '||--- feature_7 <= 174.50', '|||--- feature_2 <= 3.50', '||||--- feature_1 <= 0.50', '|||||--- class: 1.0', '||||--- feature_1 > 0.50', '|||||--- feature_11 <= 0.50', '||||||--- class: 0.0', '|||||--- feature_11 > 0.50', '||||||--- class: 1.0', '|||--- feature_2 > 3.50', '||||--- feature_9 <= 0.80', '|||||--- feature_1 <= 0.50', '||||||--- class: 0.0', '|||||--- feature_1 > 0.50', '||||||--- class: 1.0', '||||--- feature_9 > 0.80', '|||||--- class: 1.0', '||--- feature_7 > 174.50', '|||--- feature_12 <= 5.00', '||||--- class: 0.0', '|||--- feature_12 > 5.00', '||||--- class: 1.0']

In [2]:
z

['|--- feature_10 <= 1.50',
 '||--- feature_11 <= 1.50',
 '|||--- feature_8 <= 0.50',
 '||||--- class: 0.0',
 '|||--- feature_8 > 0.50',
 '||||--- class: 1.0',
 '||--- feature_11 > 1.50',
 '|||--- feature_4 <= 234.00',
 '||||--- class: 1.0',
 '|||--- feature_4 > 234.00',
 '||||--- feature_8 <= 0.50',
 '|||||--- class: 0.0',
 '||||--- feature_8 > 0.50',
 '|||||--- class: 1.0',
 '|--- feature_10 > 1.50',
 '||--- feature_7 <= 174.50',
 '|||--- feature_2 <= 3.50',
 '||||--- feature_1 <= 0.50',
 '|||||--- class: 1.0',
 '||||--- feature_1 > 0.50',
 '|||||--- feature_11 <= 0.50',
 '||||||--- class: 0.0',
 '|||||--- feature_11 > 0.50',
 '||||||--- class: 1.0',
 '|||--- feature_2 > 3.50',
 '||||--- feature_9 <= 0.80',
 '|||||--- feature_1 <= 0.50',
 '||||||--- class: 0.0',
 '|||||--- feature_1 > 0.50',
 '||||||--- class: 1.0',
 '||||--- feature_9 > 0.80',
 '|||||--- class: 1.0',
 '||--- feature_7 > 174.50',
 '|||--- feature_12 <= 5.00',
 '||||--- class: 0.0',
 '|||--- feature_12 > 5.00',
 '||||--- class: 1.0']

In [3]:
from code.learners.EC.dtparse import SklearnParse
from code.learners.EC.deap_extra import get_pset
from code.data_processing import get_data

X, y = get_data('cleveland')
pset = get_pset(num_args=X.shape[1])
sk = SklearnParse(pset)

In [4]:
f = ['||||--- feature_1 <= 0.50',
     '|||||--- class: 1.0',
     '||||--- feature_1 > 0.50',
     '|||||--- feature_11 <= 0.50',
     '||||||--- class: 0.0',
     '|||||--- feature_11 > 0.50',
     '||||||--- class: 1.0',]
L, R = sk.half_on_if(f)
for l in L:
    print(l)
print('*****')
for r in R:
    print(r)

|||||--- class: 1.0
*****
|||||--- feature_11 <= 0.50
||||||--- class: 0.0
|||||--- feature_11 > 0.50
||||||--- class: 1.0

In [5]:
indent, feature, equality, mod = '|||--- feature_12 <= 5.00'.split()

In [6]:
indent, feature, equality, mod

('|||---', 'feature_12', '<=', '5.00')

In [7]:
from code.learners.EC.m3gp.M3GP import M3GP
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd 

X, y = get_data('cleveland')

Tr_X = pd.DataFrame(data=X)    # frame for x
Tr_Y = pd.DataFrame(data=y)[0] # series for y


m3gp = M3GP(population_size = 10, max_generation = 50, verbose=False)
m3gp.fit(Tr_X, Tr_Y)
m3gp

In [8]:
m3gp.getBestIndividual()

In [25]:
best = m3gp.getBestIndividual()
x = np.array(X)
print(x.T.shape)
z = best.predict(Tr_X)
len(z)
print(type(z[0]))
print(z)

(13, 297)
<class 'float'>
[0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0]

In [ ]:
Xin.shape

In [22]:
Tr_X

       0    1    2      3      4    5    6      7    8    9    10   11   12
0    63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0
1    67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0
2    67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0
3    37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0
4    41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0
..    ...  ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...
292  57.0  0.0  4.0  140.0  241.0  0.0  0.0  123.0  1.0  0.2  2.0  0.0  7.0
293  45.0  1.0  1.0  110.0  264.0  0.0  0.0  132.0  0.0  1.2  2.0  0.0  7.0
294  68.0  1.0  4.0  144.0  193.0  1.0  0.0  141.0  0.0  3.4  2.0  2.0  7.0
295  57.0  1.0  4.0  130.0  131.0  0.0  0.0  115.0  1.0  1.2  2.0  1.0  7.0
296  57.0  0.0  2.0  130.0  236.0  0.0  2.0  174.0  0.0  0.0  2.0  1.0  3.0

[297 rows x 13 columns]